# Base de données
# Assurez-vous que les identifiants correspondent à ceux de docker-compose.yml
DATABASE_URL="postgresql://teranga_user:teranga_password@localhost:5432/teranga_db?schema=public"

# Next Auth (Authentification)
# NEXTAUTH_URL="http://localhost:3000"
# NEXTAUTH_SECRET="votre_secret_genere_ici"

# Stripe (Paiements)
# STRIPE_PUBLIC_KEY="pk_test_..."
# STRIPE_SECRET_KEY="sk_test_..."
# STRIPE_WEBHOOK_SECRET="whsec_..."
